.notification{
    width: 700px;
    height: 50px;
    margin: 20px auto;
    padding: 10px;
    display: none;
    justify-content: center;
    border-radius: 10px;
}

.alert-primary{
    display: flex;
    color: #084298;
    background-color: #cfe2ff;
}

.alert-secondary{
    display: flex;
    color: #41464b;
    background-color: #e2e3e5;
}

.alert-success{
    display: flex;
    color: ##0f5132;
    background-color: #d1e7dd;
}

.alert-danger{
    display: flex;
    color: #842029;
    background-color: #f8d7da;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}